<h2>First Component</h2>

<div>
    <h3>{{parentData}}</h3>
    <button (click)="countFun()">Count</button>
    <input type="number" [(ngModel)]="parentData">
    
    <ul>
        <li><a routerLink="child-a">
            Child-A
            <app-child-a [(childData)]="parentData"></app-child-a>
        </a></li>
        <li><a routerLink="child-b">
            Child-B
        </a></li>
        <li><a routerLink="../second">
            Second Component
        </a></li>
    </ul>
</div>

<router-outlet></router-outlet>
